:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --color-black: #212121;
  --color-bg-light: #fafafa;
  --color-bg-dark: #4056b4f0;
}

* {
  box-sizing: border-box;
}

body,
p,
ul {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg-light);
  color: var(--color-black);
  font-size: 16px;
}

.search-form {
  background-color: var(--color-bg-dark);
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 16px;
  font: inherit;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.search-form__wrapper {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.search-form__input {
  padding: 0 10px 0;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  height: 40px;
  width: 100%;
}

.search-form__button {
  background-color: #f1eff1;
  border: none;
  color: var(--color-black);
  cursor: pointer;
  font-size: 16px;
  height: auto;
  width: 50px;
  transition: background-color var(--animation-duration) var(--timing-function);
}

.search-form__button--delete {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.search-form__button:hover {
  background-color: #d5cfd5;
}

.square {
  background-color: #fff;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery {
  display: grid;
  max-width: 1460px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 15px;
  justify-content: center;
  padding: 80px 15px 15px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery__item {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__item:hover {
  transform: scale(1.03);
}

.gallery__image {
  height: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
  color: inherit;
}

.gallery__link:hover {
  cursor: zoom-in;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.load-more {
  font-family: inherit;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg-dark);
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: filter var(--animation-duration) var(--timing-function);
}

.load-more:hover {
  filter: brightness(1.3);
}

.hidden {
  display: none;
}
